<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thinking Systematically</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.14/vue.global.prod.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="settings-panel">
        <h2>Settings</h2>
        <label for="modelSelect">Model:</label>
        <select id="modelSelect" v-model="model">
          <option v-for="model in models">{{model}}</option>
        </select>

        <label for="systemMessage">System Message:</label>
        <textarea id="systemMessage" v-model="systemMessage"></textarea>
      </div>
      <div class="chat-container">
        <div class="messages" v-for="message in messages">
          <!-- Dynamically loaded chat messages will be here -->
          <!-- Example Chat Messages -->
          <div
            class="message"
            :class="message.role + '-message'"
            v-html="$markdown(message.content)"
          ></div>
        </div>
        <div class="input-container">
          <form @submit.prevent="sendPrompt">
            <input
              type="text"
              v-model="userMessage"
              placeholder="Type a new message..."
              id="newMessage"
            />
            <button type="submit" :disabled="chatDisabled">Send</button>
            <button class="secondary" @click.prevent="resetChat" v-if="messages.length > 1">Reset Chat</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          const models = [
            "@cf/meta/llama-2-7b-chat-int8",
            "@cf/meta/llama-2-7b-chat-fp16",
            "@cf/mistral/mistral-7b-instruct-v0.1	",
            "@hf/thebloke/codellama-7b-instruct-awq",
          ];
          return {
            models,
            model: models[0],
            messages: [],
            systemMessage: "You are a helpful assistant.",
            userMessage: "",
            chatDisabled: false,
          };
        },
        methods: {
          async resetChat() {
            this.messages = [];
          },
          async sendPrompt() {
            this.chatDisabled = true;
            const bodyJSON = JSON.stringify({
              model: this.model,
              systemMessage: this.systemMessage,
              messages: this.messages,
              userMessage: this.userMessage,
            });
            // Append the user message to the array
            this.messages.push({ role: "user", content: this.userMessage });
            this.messages.push({ role: "assistant", content: "" });
            // Clear the prompt
            this.userMessage = "";
            const response = await fetch("/prompt", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: bodyJSON,
            });

            function makeAiTokenStream() {
              return new TransformStream({
                start() {
                  this.buffer = "";
                },
                async transform(chunk, controller) {
                  /* `chunk` is an undefined portion of entries in this format 
                data: {"response": "Hello "}

                data: {"response": "World"}

                data: [DONE]
                */
                  // Entries are actually delimited by two newlines
                  const lines = chunk.split("\n");
                  if (this.buffer.length > 0) {
                    // Prepend the line with the previous buffer
                    lines[0] = this.buffer + lines[0];
                  }
                  // Last line is either `""` or half of an entry, so store that as the buffer for next time
                  this.buffer = lines.pop();
                  lines
                    .filter((line) => line.length > 1)
                    .forEach((line) => {
                      const json = line.replace(/^data: /, "");
                      try {
                        const token = JSON.parse(json).response;
                        // Sends the transformed value to the stream
                        console.debug("Sending token:", token);
                        controller.enqueue(token);
                      } catch (err) {
                        if (json !== "[DONE]") {
                          console.error(`Invalid JSON: ${json}`);
                        }
                      }
                    });
                },
              });
            }

            const reader = response.body
              .pipeThrough(new TextDecoderStream())
              .pipeThrough(makeAiTokenStream())
              .getReader();
            while (true) {
              const { value, done } = await reader.read();
              if (done) {
                console.log("Stream done");
                this.chatDisabled = false;
                hljs.highlightAll();
                break;
              }
              this.messages[this.messages.length - 1].content += value;
            }
          },
        },
      });
      const markdownPlugin = {
        install(app, options) {
          const md = new markdownit();
          app.config.globalProperties.$markdown = (source) => {
            return md.render(source);
          };
        },
      };
      app.use(markdownPlugin);
      app.mount("#app");
    </script>
  </body>
</html>
